// Mixins
.translate (@x, @y:0) {
    -webkit-transform:       translate(@x, @y);
    -moz-transform:      translate(@x, @y);
    -ms-transform:       translate(@x, @y);
    -o-transform:        translate(@x, @y);
}
.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

// Bootstrap Helpers
.text-center {
    text-align: center;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none !important;
}
.text-nowrap {
    white-space: nowrap;
}
.small, small {
    font-size: 85%;
}
.text-uppercase {
    text-transform: uppercase;
}


// Helpers
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
@media (max-width: @screen-xs-max) {
  .static-xs {
    position: static !important;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .static-sm {
    position: static !important;
  }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .static-md {
    position: static !important;
  }
}
@media (min-width: @screen-lg-min) {
  .static-lg {
    position: static !important;
  }
}




.w100 {
  width: 100%;
 }
.wauto {
  width: auto;
}
.inline-block {
  display: inline-block;
}
.mw100 {
  max-width: 100%;
 }
.add-padding {
  padding-top: 45px;
  padding-bottom: 45px;
  @media (max-width: @screen-xs-max) {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
}
.bg--cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
.row.no-gutter {
    margin-right: 0;
    margin-left: 0;
    > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }
}
.center-abs {
  position: absolute;
  left: 50%;
  top: 50%;
  .translate (-50%,-50%);
}
.center-abs-h {
  position: absolute;
  left: 50%;
 .translate(-50%,0);
}
.center-abs-v {
  position: absolute;
  top: 50%;
  .transform (0,-%50);
}
.photo-credit {
    right: 2.5%;
    bottom: 9px;
    color: #ffffff;
    font-size: 13px;
}
.intext {
    &.pull-right {
      padding: 5px 0 18px 25px;
    }
    &.pull-left {
      padding: 5px 25px 18px 0;
    }
}
.text-shadow {
  text-shadow: 0 4px 35px rgba(0, 0, 0, 0.5),
               0 8px 55px rgba(0, 0, 0, 0.3),
               0 18px 65px rgba(0, 0, 0, 0.2),
               0 18px 80px rgba(0, 0, 0, 0.2),
               0 18px 100px rgba(0, 0, 0, 0.1);
}
.btn-hover-wrapper:hover .btn {
  background-color: #993302;
  border-color: #993302;
  .transition(all 0.2s ease 0s);
}
ul.list-inline {
  padding: 0;
  li {
    display: inline;
    padding: 0;
    margin: 0;
  }
}
.spacing-xs {
  @media (max-width: @screen-sm-max) {
    [class*="col-"] {
      margin-bottom: 12.5px;
    }
  }
}
.hover-img--opacity {
  a >img {
    .transition(opacity .2s ease);
    &:hover {
      opacity: .8;
    }
  }
}
.v-align-children {
  @media (min-width: @screen-sm-min) {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flexbox;
   display: flex; 
   align-items: center;
   -webkit-align-items: center;
   justify-content: center;
   -webkit-justify-content: center;
   flex-direction: row;
   -webkit-flex-direction: row;
  }
}
.v-align-children-md {
  @media (min-width: @screen-md-min) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; 
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}

.pos-vertical-center{
  position: relative;
  top: 50%;
  -webkit-translateY:-50%;
  -moz-translateY:-50%;
  -ms-translateY:-50%;
  -o-translateY:-50%;
  translateY:-50%;
  z-index: 1;
}
.pos-vertical-center--all {
  position: relative;
  top: 50%;
  -webkit-translateY:-50%;
  -moz-translateY:-50%;
  -ms-translateY:-50%;
  -o-translateY:-50%;
  translateY:-50%;
  z-index: 1;
}

@media all and (max-width: @screen-xs-max){
  .pos-vertical-center{
    top: 0;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    -ms-translateY: 0;
    -o-translateY: 0;
    translateY: 0;
  }
}

@media all and (max-height: 600px){
  .pos-vertical-center{
    top: 0;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    -ms-translateY: 0;
    -o-translateY: 0;
    translateY: 0;
  }
}